{% extends "base.html" %}
{% block title %} Confirmar Exclusão {% endblock title %}

{% block main %}
<div class="container mx-auto py-12 px-6">
  <h1 class="text-3xl font-bold text-center mb-8">Confirmar Exclusão</h1>

  <!-- Confirmação para exclusão de tema -->
  <div class="flex justify-center">
    <div class="w-full max-w-md bg-white shadow-md rounded-lg p-8">
      <p class="text-lg mb-6">Você tem certeza de que deseja excluir o tema "<strong>{{ object.nome }}</strong>"?</p>
      <form method="post" class="flex justify-between">
        {% csrf_token %}
        <button type="submit" class="bg-red-500 text-white font-bold py-2 px-4 rounded-lg shadow-lg hover:bg-red-600 transition duration-300">
          Excluir
        </button>
        <a href="{% url 'listarTemasPage' %}" class="bg-gray-500 text-white font-bold py-2 px-4 rounded-lg shadow-lg hover:bg-gray-600 transition duration-300">
          Cancelar
        </a>
      </form>
    </div>
  </div>
</div>
{% endblock main %}
